---
-
        name: Configure gocd-server
        hosts: gocd-server
        gather_facts: false
        tasks:

                - name: Install Python
                  raw: apt-get install python -y
                  args: 
                        executable: /bin/bash

                - apt_repository:
                        repo: deb https://download.gocd.org /
                        state: present

                - name: Add gocd repo key
                  apt_key:
                          url: https://download.gocd.org/GOCD-GPG-KEY.asc 
                          state: present

                - name: Update apt cache
                  apt:
                          update_cache: yes

                - name: Install gocd-server
                  apt:
                          name: go-server
                          state: present

                - name: Install ansible
                  apt:
                          name: ansible
                          state: present
                          
                - name: Install git
                  apt:
                          name: git
                          state: present

                - name: Install maven
                  apt:
                          name: maven
                          state: present

                - name: Create project directory
                  file:
                        path: /infra-as-code-challenge/terraform 
                        state: directory                          

                - name: Create terraform directory
                  file:
                        path: /opt/terraform 
                        state: directory                          
                          
                - name: Copy stage folder
                  copy:
                          src: /infra-as-code-challenge/stage
                          dest: /infra-as-code-challenge/
                          directory_mode:  

                - name: Copy terraform executable
                  copy:
                    src: /opt/terraform/terraform
                    dest: /opt/terraform/terraform
                    owner: root
                    group: root
                    mode: '0755'
                
                - name: Copy terraform provider
                  copy:
                    src: /infra-as-code-challenge/terraform/provider.tf
                    dest: /infra-as-code-challenge/terraform/
                    owner: root
                    group: root
                    mode: '0644'

                - name: Copy terraform vars
                  copy:
                    src: /infra-as-code-challenge/terraform/terraform.tfvars
                    dest: /infra-as-code-challenge/terraform/
                    owner: root
                    group: root
                    mode: '0644'

                - name: Add terraform to PATH
                  script: /infra-as-code-challenge/resources/terraform-path.sh
                  args: 
                        executable: /bin/bash

                - name: Initialize terraform
                  command: /opt/terraform/terraform init
                  args:
                        creates: /infra-as-code-challenge/terraform/.terraform/plugins/linux_amd64/lock.json
                        chdir: /infra-as-code-challenge/terraform/
                              

